@import 'bootstrap/scss/bootstrap';

$primary-color: #3366ff;

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f7f8fa;
}

.app {
    padding: 2rem;
    text-align: center;
    color: $primary-color;
}