<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React Microfrontends</title>
  <meta name="importmap-type" use-injector />
  <% if (isLocal) { %>
  <script type="injector-importmap">
    {
      "imports": {
        "react": "https://react.microfrontends.app/deps/npm:react@19.0.0/dev.index.js",
        "react-dom": "https://react.microfrontends.app/deps/npm:react-dom@19.0.0/dev.index.js",
        "single-spa": "https://react.microfrontends.app/deps/npm:single-spa@7.0.0-beta.1/lib/esm/single-spa.min.js",
        "rxjs": "https://react.microfrontends.app/deps/npm:rxjs@7.8.1/dist/esm5/index.js",
        "react-dom/client": "https://react.microfrontends.app/deps/npm:react-dom@19.0.0/dev.client.js",
        "@react-mf/root-config": "//localhost:9000/react-mf-root-config.js",
        "@react-mf/checkout": "//localhost:8080/react-mf-checkout.js"
      },
      "scopes": {
        "https://react.microfrontends.app/deps/": {
          "process": "https://react.microfrontends.app/deps/npm:@jspm/core@2.1.0/nodelibs/browser/process.js",
          "scheduler": "https://react.microfrontends.app/deps/npm:scheduler@0.25.0/dev.index.js",
          "tslib": "https://react.microfrontends.app/deps/npm:tslib@2.8.1/tslib.es6.mjs"
        }
      }
    }
  </script>
  <% } %>
  <template id="single-spa-layout">
    <single-spa-router>
      <route path="/">
        <application name="@react-mf/checkout"></application>
      </route>
    </single-spa-router>
  </template>
</head>
<body>
  <script src="https://react.microfrontends.app/deps/npm:import-map-overrides@5.1.1/dist/import-map-overrides.js"></script>
  <script src="https://react.microfrontends.app/deps/npm:@single-spa/import-map-injector@2.0.1/lib/import-map-injector.js"></script>
  <script>
    window.importMapInjector.initPromise.then(() => {
      import('@react-mf/root-config');
    });
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
